/* mobile*/

html,
body {
    height: 100%;
    margin: 0;
}

article {
    min-height: 100%;
}

.call {
    margin-top: 0;
    background: url("/band-assets/images/monkees.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.band {
    height: 70vh;
    width: 100vw;
    text-align: center;
}

.landing-title,
.title-meet h1 {
    border-color: transparent;
    color: red;
    text-shadow: 2px 2px yellow;
    border-style: double;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.5);
}

.landing-title h5,
ul li {
    color: white;
    text-shadow: 2px 2px black;
}

.landing-title ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

#nav {
    padding-bottom: 1rem;

}

#nav-meet {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

button {
    display: block;
    border: none;
    padding: 10px;
}

footer {
    min-height: 5vh;
}

.fab {
    color: #6BBAEC;
    text-align: center;
    text-shadow: none;
}

button span {
    color: white;
}

.corner {
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    border-style: groove;
    border-radius: 1rem;
    border-color: transparent;
    padding: 0.5rem;
}

.corner button {
    width: 100%;
    background-color: #BCC4DB;
    margin-top: 1rem;
}

.headshot,
.headshot-right {
    float: none;
    display: block;
    width: 100%;
}

.bio,
.link-to-home {
    color: white;
}

.link-to-home {
    position: absolute;
    top: 95vh;
    margin-top: auto;
    margin-bottom: 1rem;
    padding-bottom: 0;
}

#book button:hover,
#listen button:hover,
#watch button:hover,
#boys button:hover {
    background-color: #BCC6ef;
}

.flyer {
    height: 16rem;
    width: 16rem;
}

.audio{
    color: white;
}

#audio-control{
    margin-top:1rem;
}

#audio-red audio::-webkit-media-controls-panel{
  background-color: red;
 
}

#audio-yellow audio::-webkit-media-controls-panel{
  background-color: yellow;
}

.lyrics{
    padding:1rem;
    height: 16rem;
    overflow-y: scroll;
}

@media(min-width: 1025px) {
    #nav {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .bio {
        text-align: left;

    }


    .top-section {
        margin-top: 3rem;

    }

    .bottom-section {
        margin-top: 15rem;
        height: auto;

    }

    .bottom-section-meet {
        margin-top: 5rem;
        height: auto;

    }

    img,
    .headshot {
        height: 16rem;
        width: 16rem;
    }

    .landing-title {
        max-width: 50rem;
        position: relative;
        top: 50vh;
        left: 50vw;
        margin-left: -25rem;
        margin-top: -8rem;

    }

    .headshot {
        float: left;
    }

    .headshot-right {
        float: left;
    }


}